@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Questrial&display=swap');

section{
    padding: 2em 2em;
}

ul{
    margin: 0;
    padding: 0;
}

body{
    background: #f2f2f2;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        padding-top: 0.1em;
        text-decoration: none;
        font-family: 'Questrial', sans-serif;
        font-weight: 500;
        color: black;
        font-size: 1.5em;

        span{
            /*same color for now, maybe will change Saini later*/
            color: black;
        }
    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

.hero{
    text-align: center;
    letter-spacing: 0.1em;
}

.left{
    .main-heading{
        margin-bottom: 0;
        font-weight: bold;
        font-size: 2.8em;
    }
    .sub-heading{
        margin-top: 0.9em;
        font-size: 1.5em;
        
    }
    .profile{
        margin: auto;
        float: left;
        width: 33.3333%;
        padding-top: 1em;
        padding-bottom: 4em;;
        .inLogo{
            padding-top: 0.7em;
            width: 70px;
            height: 70px;
        }
        .ghLogo{
            padding-top: 0.2em;
            width: 82px;
            height: 82.5px;
        }
        .lcLogo{
            padding-top: 0.75em;
            width: 65px;
            height: 66px;
        }
        
    }
}
.profile-pic{
    margin: auto;
    height: 320px;
    width: 310px;
}
.resume{
    color: white;
    display: block;
    margin: 2.5em 5em;
    margin-bottom: 1em;
    background: rgba(0, 0, 0, 0.397);
    border-radius: 4em;
    padding: 0.6em 0.5em;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 200px;
}

.Experiences{
    margin-top: 0em;
    background: rgb(70, 70, 70);
    color: white;
    border-radius: 1em;

    div{
        margin-bottom: 2em;
    }
    
    .exp-heading{
        font-size: 3em;
        margin-top: 0.4em;
    }
    h2{
        font-size: 1.6em;
        color: rgb(233, 233, 66);
    }
    h4{
        font-size: 17px;
    }
    ul{
        padding-left:1em;
        li{
            margin-bottom: 0.5em;
            list-style: disc;
            line-height: 1.25em;
        }
    }
}

.skills{
    background:rgb(151, 216, 236);
    color: black;
    border-radius: 1em;

    .skills-heading{
        font-size: 3em;
        margin-top: 0.4em;
    }
    h4{
        font-size: 22px;
        color:rgb(192, 102, 173);
        margin-bottom: 0.75em;

    }
    ul{
        padding-left: 1.5em;
        li{
            font-size: 17px;
            margin-bottom: 0.5em;
            list-style-type: none;
            position: relative;
            
            &:before{
                content: '';
                left: -1.5em;
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../images/blackcheck.svg');
                background-size: contain;
                margin-right: 0.5em;
            }
        }
    }
}

.projects{
    background:rgb(231, 172, 172);
    border-radius: 1em;

    img{
        margin: 0.5em auto 1.5em auto;
    width: 419px;
    }
    
    .projects-heading{
        font-size: 3em;
        margin-top: 0.4em;
    }

    h4{
        font-size: 1.6em;
        margin-bottom: 1em;
        color: rgb(0, 2, 121);
        span{
            color: rgb(255, 247, 247);
            font-size: 0.75em;
        }
    }

    ul{
        padding-left:1em;
        li{
            margin-bottom: 0.5em;
            list-style: disc;
            line-height: 1.25em;
        }
    }
}

  
nav.menu-btn{
    display: block;
}
    
nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background:rgb(70, 70, 70);
    height: 100vh;
    padding: 1em;

    ul.first-nav{
        margin-top: 5em;
    }

    li{
        list-style-type: none;
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;
        }

        &:hover{
            font-weight: bold;
        }
    }
}

.mobile-menu-exit{
    height: 40px;
    weight: 40px;
    float: right;
    margin: 0.5em;
    cursor: pointer;
}