@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Questrial&display=swap");
:root {
  --line-color: rgb(132, 136, 139);
}

section {
  padding: 2em 2em;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Questrial', sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  padding-top: 0.1em;
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.5em;
}

.navbar .logo span {
  /*same color for now, maybe will change Saini later*/
  color: black;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.hero {
  text-align: center;
  letter-spacing: 0.1em;
}

.left .main-heading {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2.8em;
}

.left .sub-heading {
  margin-top: 0.9em;
  font-size: 1.5em;
}

.left .profile {
  margin: auto;
  float: left;
  width: 33.3333%;
  padding-top: 1em;
  padding-bottom: 4em;
}

.left .profile .inLogo {
  padding-top: 0.7em;
  width: 70px;
  height: 70px;
}

.left .profile .ghLogo {
  padding-top: 0.2em;
  width: 82px;
  height: 82.5px;
}

.left .profile .lcLogo {
  padding-top: 0.75em;
  width: 65px;
  height: 66px;
}

.profile-pic {
  margin: auto;
  height: 320px;
  width: 310px;
}

.resume {
  color: white;
  display: block;
  margin: 2.5em 5em;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.397);
  border-radius: 4em;
  padding: 0.6em 0.5em;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 200px;
}

.Experiences {
  background: #464646;
  color: white;
  border-radius: 1em;
}

.Experiences div {
  margin-bottom: 2em;
}

.Experiences .exp-heading {
  font-size: 3em;
  margin-top: 0.4em;
}

.Experiences h2 {
  font-size: 1.6em;
  color: #e9e942;
}

.Experiences h4 {
  font-size: 17px;
}

.Experiences ul {
  padding-left: 1em;
}

.Experiences ul li {
  margin-bottom: 0.5em;
  list-style: disc;
  line-height: 1.25em;
}

.skills {
  background: #bbbfc2;
  color: black;
  border-radius: 1em;
  /*
    .tech-heading:before{
        content: "";
        display: block;
        width: 84%;
        height: 2px;
        background: var(--line-color);
        position: absolute;
        left: 4.4em;
        top: 50%;
    }

    .method-heading:before{
        content: "";
        display: block;
        width: 71.7%;
        height: 2px;
        background: var(--line-color);
        position: absolute;
        left: 6.75em;
        top: 50%;
    }

    .inter-heading:before{
        content: "";
        display: block;
        width: 75.7%;
        height: 2px;
        background: var(--line-color);
        position: absolute;
        left: 6em;
        top: 50%;
    }
    */
}

.skills .skills-heading {
  font-size: 3em;
  margin-top: 0.4em;
}

.skills h4 {
  font-size: 22px;
  color: #c066ad;
  margin-bottom: 0.5em;
  position: relative;
}

.skills hr {
  display: block;
  border: none;
  margin-left: auto;
  background-color: black;
  height: 1px;
  opacity: 10;
  width: 100%;
}

.skills ul {
  margin-top: 1em;
  padding-left: 1.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.skills ul li {
  font-size: 17px;
  margin-bottom: 0.5em;
  list-style-type: none;
  position: relative;
}

.skills ul li:before {
  content: '';
  left: -1.5em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/blackcheck.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.projects {
  background: #464646;
  border-radius: 1em;
}

.projects .projects-heading {
  font-size: 3em;
  margin-top: 0.4em;
  color: white;
}

.projects a {
  text-decoration: none;
  color: #e9e942;
}

.projects a:hover {
  color: #00c3ff;
}

.projects h4 {
  font-size: 1.6em;
  margin-bottom: 1em;
  color: #e9e942;
}

.projects h4 span {
  color: #fff7f7;
  font-size: 0.75em;
}

.projects section {
  background: #222121;
  border-radius: 1em;
  height: 400px;
  margin-bottom: 2.5em;
  width: 354px;
}

.projects section p {
  color: white;
  margin: -1em -1em;
  margin-top: 2em;
}

.projects section img {
  border-radius: 1em;
  width: 386px;
  padding: 0em;
  margin: -1em -1em;
}

.projects .cluegamepicture {
  height: 235px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #464646;
  height: 100vh;
  padding: 1em;
}

nav ul.first-nav {
  margin-top: 5em;
}

nav li {
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  height: 40px;
  weight: 40px;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.footer h2 {
  font-size: 1em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    /*
        .resume-button{
            border: 3px solid rgb(14, 95, 170);
            border-radius: 5em;
            font-weight: bold;

            &:hover{
                background:rgb(14, 95, 170);
                text-color: white;
                //why is the color not changing to white???
            }
        }
        */
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.2em;
  }
  .navbar nav a {
    color: black;
    font-size: 1.15em;
    padding: .1em 1em;
  }
  .navbar nav ul.first-nav {
    margin: 0;
    margin-top: 0.2em;
  }
  /*
    .hero{
        height: 100vh;
        margin-top: auto;
        margin-bottom: auto;
    }
    */
  .resume {
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media only screen and (min-width: 1010px) {
  .hero {
    height: 100vh;
    margin-top: -3em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .left {
    margin: 3em 3em 0 5em;
    /*
        text-align: left;
        margin-left: 5em;
        margin-top: 4em;
        */
  }
  .left .main-heading {
    font-size: 3.2em;
    width: 100%;
  }
  .left .sub-heading {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .left .profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    float: left;
    width: 33%;
  }
  .left .profile .lcLogo {
    margin-left: 0.9em;
  }
  .right {
    margin: 3em 3em 0 5em;
  }
  .right .profile-pic {
    margin-top: 3em;
  }
  .right .resume {
    display: none;
  }
  .Experiences {
    margin: 2em;
  }
  .skills {
    margin: 2em;
  }
  .projects {
    margin: 2em;
  }
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project1 {
    margin-top: 5em;
    margin-left: -11em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project2 {
    margin-top: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0em;
    margin-left: auto;
  }
  .footer {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1102px) {
  .hero {
    margin-top: 0.8em;
  }
  .hero .profile-pic {
    margin-top: 1.3em;
  }
  .Experiences {
    margin: 2em 3em;
  }
  .skills {
    margin: 2em 3em;
  }
  .projects {
    margin: 2em 3em;
  }
  .projects .project2 {
    margin-right: 4em;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding: 4em 5em;
  }
  .hero .main-heading {
    font-size: 4em;
  }
  .hero .sub-heading {
    font-size: 2.4em;
  }
  .hero .profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    float: left;
    width: 33%;
  }
  .hero .profile .inLogo {
    height: 82px;
    width: 82px;
    margin-top: 1px;
  }
  .hero .profile .ghLogo {
    height: 99px;
    width: 99px;
  }
  .hero .profile .lcLogo {
    height: 83px;
    width: 83px;
  }
  .profile-pic {
    height: 380px;
    width: 366px;
  }
}
/*# sourceMappingURL=style.css.map */